$blue: #38a4f8 !default;
$blue-light: rgba(#38a4f8, 0.8) !default;
$yellow: #f8b425 !default;
$yellow-light: rgba(#f8b425, 0.8) !default;
$green: #02a499 !default;
$green-light: rgba(#02a499, 0.8) !default;
$red: #ec4561 !default;
$red-light: rgba(#ec4561, 0.8) !default;
