$blue: #3669a0 !default;
$blue-dark: #2b588a !default;
$blue-light: #5f8dbf !default;
$orange: #da7d35 !default;
$green: #0f9960 !default;
$red: #ba3c35 !default;

$sosial: #4baaf1 !default;
$sosial-dark: #3c92d7 !default;
$ekonomi: #eb9f5c !default;
$ekonomi-dark: #da7d35 !default;
$pertanian: #4fb35b !default;
$pertanian-dark: #3e8f49 !default;
